body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttons-container {
    position: absolute;
    /* Ajuste manual de posicionamento X e Y */
    top: 50%; /* Pode ajustar para onde deseja que fiquem os botões */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.btn {
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn img {
    width: 50px;
    height: 50px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.whatsapp-btn img {
    width: 60px;
    height: 60px;
}

/* Responsividade para telas maiores (PC) */
@media screen and (min-width: 768px) {
    /* Imagens de fundo para PC */
    #section1 {
        background-image: url('Desktop01.jpg');
    }
    #section2 {
        background-image: url('Desktop01.jpg');
    }
    #section3 {
        background-image: url('Desktop01.jpg');
    }
    #section4 {
        background-image: url('Desktop01.jpg');
    }
}

/* Responsividade para telas menores (Dispositivos móveis) */
@media screen and (max-width: 767px) {
    /* Imagens de fundo para dispositivos móveis */
    #section1 {
        background-image: url('site01.jpg');
    }
    #section2 {
        background-image: url('site02.jpg');
    }
    #section3 {
        background-image: url('site01.jpg');
    }
    #section4 {
        background-image: url('site01.jpg');
    }
}
