body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Estilos das seções */
.section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Botões principais (Google Play e Apple Store) */
.buttons-container {
    position: absolute;
    top: 60%; /* Ajuste conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.btn {
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn img {
    width: 50px;
    height: 50px;
}

/* Botão do WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.whatsapp-btn img {
    width: 70px;
    height: 60px;
}

/* Menu de navegação */
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 999;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3px;
}

.menu-bar ul li {
    display: inline;
    margin-right: 20px;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-bar ul li a:hover {
    color: #f1c40f;
}

/* Responsividade para telas maiores (PC) */
@media screen and (min-width: 768px) {
    #section1 {
        background-image: url('images/Desktop01.jpg');
    }
    #section2 {
        background-image: url('images/Desktop02.jpg');
    }
    #section3 {
        background-image: url('images/Desktop01.jpg');
    }
    #section4 {
        background-image: url('images/Desktop01.jpg');
    }
}

/* Responsividade para telas menores (Dispositivos móveis) */
@media screen and (max-width: 767px) {
    #section1 {
        background-image: url('images/site01.jpg');
    }
    #section2 {
        background-image: url('images/site01.jpg');
    }
    #section3 {
        background-image: url('images/site01.jpg');
    }
    #section4 {
        background-image: url('images/site04.jpg');
    }
}